/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.site {
  width: 414px;
  margin: 0 auto;
}
.logo {
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #e7e7db;
}

.title {
  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 75px;
  padding-right: 76px;
  font-size: 36px;
}

.text-color-red {
  color: red;
}

hr {
  color: red;
}

.strange-things-conti {
  padding-top: 22px;
  padding-left: 37px;
  padding-right: 38px;
  padding-bottom: 38px;
  font-size: 21px;
}

.title {
  font-size: 21px;
  padding-bottom: 24px;
}

.title-about-the-series {
  font-size: 21px;
  padding-bottom: 24px;
}

.text {
  font-size: 16px;
  padding-left: 37px;
  padding-right: 37px;
}
a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
