/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

}

body {
  text-align: center;
  width: 414px;
}

.logo {
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #E7E7DB;
}
a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
